body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: hsla(330, 48.5%, 32%, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section1 {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-family: sans-serif;
}

.links {
    list-style: none;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    padding: 16px;
    gap: 16px;
    font-size: 16px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero .main {
    color: #F9FAF8;
    font-size: 36px;
    font-weight: 800;
    font-family: sans-serif;
    color: hsla(330, 93.3%, 94.1%, 1);
    text-align: left;
    margin: 0;
}

.hero .sub {
    color: #e7e5eb;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.content2 {
    display: flex;
    flex-direction: column;
    background-color: hsla(330, 93.3%, 94.1%, 1);
    justify-content: center;
}

.header2 {
    display: flex;
    justify-content: center;
    color: hsla(330, 40.2%, 45.9%, 1);
    font-family: sans-serif;
}

.section2cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-shrink: 0;
}

.s2card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 250px;
}

.s2card p {
    margin: 0;
    color: hsla(330, 40.2%, 45.9%, 1);
    text-align: center;
}

.image {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 0;
}

button {
    width: 90px;
    border: none;
    border-radius: 8px;
    background: #F740A9;
    padding: 8px 16px;
    color: #F9FAF8;
    font-weight: 800;
}

img {
    max-width:70%;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.section3 {
    display: flex;
}

.content3 {
    display: flex;
    flex-direction: column;
}