body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: hsla(330, 48.5%, 32%, 1);
}

.section1 {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-family: sans-serif;
}

.links {
    list-style: none;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    padding: 16px;
    gap: 16px;
    font-size: 16px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero .main {
    color: #F9FAF8;
    font-size: 36px;
    font-weight: 800;
    font-family: sans-serif;
    text-align: left;
    margin: 0;
}

.hero .sub {
    color: #e7e5eb;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.image {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 0;

}

button {
    width: 90px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #F740A9;
    padding: 8px 16px;
    color: #F9FAF8;
    font-weight: 800;
}

img {
    max-width:70%;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}
